body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

/* Стили для кнопки */
button {
    margin-top: 20px; /* Увеличиваем отступ сверху */
    padding: 15px; /* Увеличиваем внутренние отступы */
    border: none;
    border-radius: 8px; /* Увеличиваем радиус закругления */
    background-color: #f4511e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e55f35;
}

/* Стили для текстовых полей */
.input-field {
    margin-bottom: 20px; /* Увеличиваем отступ снизу */
    padding: 15px; /* Увеличиваем внутренние отступы */
    border: 1px solid #ccc;
    border-radius: 8px; /* Увеличиваем радиус закругления */
}
