.profile-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-container h2 {
    margin-bottom: 20px;
}

.avatar {
    margin-bottom: 20px;
}

.avatar img {
    max-width: 200px;
    border-radius: 50%;
}

.profile-container input[type="file"] {
    margin-bottom: 10px;
}

.profile-container button {
    padding: 10px 20px;
    background-color: #f4511e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profile-container button:hover {
    background-color: #e55f35;
}