<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <div class="top-bar">

<!--        <div class="login-icon">-->
<!--            <img src="login-icon.png" alt="Вход">-->
<!--        </div>-->


        <div class="search-bar">
            <label>
                <input type="text" class="search-input">
            </label>
        </div>
        <div class="cart-icon">
            <a href="/purchases">
                <img src="{{ url_for('static', filename='img/cart-t.png') }}" alt="Корзина">
            </a>
        </div>
        <div class="user-widget">
            {% if token %}
                <div class="user-info">
<!--                    <img src="{{ user_name }}" alt="Аватар">-->
<!--                    <span>{{ user_name }}</span>-->
                </div>
                <a href="/profile">Профиль</a>
            {% else %}
                <a href="/login">Войти</a>
            {% endif %}
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>