<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <div class="cart-page">
            <h1>Корзина</h1>
            <div class="cart-items">
                <!-- Здесь будет содержимое корзины, например, список добавленных товаров -->
                <ul>
                    <li>Товар 1</li>
                    <li>Товар 2</li>
                    <!-- Добавьте другие товары, если нужно -->
                </ul>
            </div>
            <div class="cart-total">
                <!-- Здесь может быть информация о сумме заказа и кнопка оформления заказа -->
                <p>Итого: $100</p>
                <button>Оформить заказ</button>
            </div>
        </div>
    {% endblock %}

</body>
</html>